* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
    

.sitehearder {
   
    background-color:white;
    margin-bottom: 1rem;
   
}

.logo {
    height: 70px;
    margin-bottom: 30px;
    border-right-width: 5px;
    border-right:solid;
    border-right-color: rgba(133, 133, 133, 0.28);
    padding-right: 1rem;
    
}

#menu ul {
    width: 800px;
    padding: 0;
    display: block;
    list-style-type:none;
    margin-bottom: 30px;
   
}
   
#menu li {
    display: inline;
    color: rgba(133, 133, 133, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding:4px ;
    
}

.blocco{
    height: 400px;
    background-color: rgba(225, 214, 122, 1);
}
.soprablocco{
    margin-top: 1rem;
    height: 100px;
    background-color: rgba(171, 207, 231, 1);
}
.macroblocco{
    padding-top: 1rem;
    height: 400px;
    background-color: rgba(0, 134, 255, 1)
}
.blocco1{
    float: right;
    height: 370px;
    width: 250px;
    background-color: rgba(171, 207, 231, 1);
}
.blocco3{
    float: left;
    height: 370px;
    width: 250px;
    background-color: rgba(171, 207, 231, 1);
}
.blocco2{
    height: 370px;
    width: 500px;
    margin-inline: auto;
    background-color: rgba(171, 207, 231, 1);
}
.sottoblocco{
    margin-top: 1rem;
    height: 100px;
    background-color:rgba(136, 1, 254, 1);
}