* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
    

.sitehearder {
   
    background-color:white;
    margin-bottom: 1rem;
   
}

.logo {
    height: 70px;
    margin-bottom: 30px;
    border-right-width: 5px;
    border-right:solid;
    border-right-color: rgba(133, 133, 133, 0.28);
    padding-right: 1rem;
    
}

#menu ul {
    width: 800px;
    padding: 0;
    display: block;
    list-style-type:none;
    margin-bottom: 30px;
   
}
   
#menu li {
    display: inline;
    color: rgba(133, 133, 133, 1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding:4px ;
    
}

.blocco{
    height: 730px;
    background-image: url("/img/banner.jpg");
    background-color: rgba(180, 180, 180, 0.815); 
    background-blend-mode:multiply;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 450px;
    padding-left: 45px;
    border-radius: 1%;
    margin-bottom: 2rem;

}

.text {
    color: white;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;

}
.sottotitolo {
    font-size: 25px;
}

   

.soprablocco{
    margin-top: 1rem;
    height: 100px;
}
.leadership {
    font-family:'Montserrat', sans-serif;
}
.sottoleadership {
    color: rgb(133 133 133 / 55%);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
    
.macroblocco{
    padding-top: 1rem;
    height: 400px;
   
}
.blocco1{
    float: right;
    height: 400px;
    width: 285px;
    opacity: 0.5;
     
    
}
.immagine1 {
    border-radius: 2%;
    height: 180px;
    background-repeat: no-repeat;
    background-color: rgba(180, 180, 180, 0.815); 
    background-image: url("/img/img-3.jpg");
    background-blend-mode:multiply;
    
    
}
.blocco3{
    float: left;
    height: 200px;
    width: 285px;
    opacity: 0.5;
   
}
.immagine3{
    height: 180px;
    background-image: url("/img/img-1.jpg");
    background-color: rgba(180, 180, 180, 0.815); 
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2%;
}
.blocco2{
    height: 200px;
    width: 610px;
    margin-inline: auto;
    opacity: 0.5;
    
}
.immagine2{
    height: 180px;
    background-image: url("/img/banner-2.jpg");
    background-color: rgba(180, 180, 180, 0.815); 
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2%;

}
.sottoblocco{
    margin-top: 1rem;
    height: 100px;
    background-color:rgba(136, 1, 254, 1);
}
.testo{
    margin-top: 25px;
    margin-bottom: 15px;
    font-family:'Montserrat', sans-serif;
}